DISCORD_AUTH_CLIENT_ID=...
DISCORD_AUTH_CLIENT_SECRET=...
DISCORD_AUTH_REDIRECT_URI=http://localhost:8000/api/auth/discord/callback

JWT_PUBLIC_KEY=...
JWT_PRIVATE_KEY=...
JWT_ALGORITHM=...

API_PORT=...

REDIS_HOST=...
REDIS_PORT=...
REDIS_INSIGHT_PORT=...
REDIS_DB=...