DISCORD_AUTH_CLIENT_ID=...
DISCORD_AUTH_CLIENT_SECRET=...
DISCORD_AUTH_REDIRECT_URI=http://localhost:8000/auth/discord/callback
DASHBOARD_FRONTEND_URI=...

JWT_PUBLIC_KEY=...
JWT_PRIVATE_KEY=...
JWT_ALGORITHM=...

API_PORT=...
API_DOMAIN=...

REDIS_HOST=...
REDIS_PORT=...
REDIS_INSIGHT_PORT=...
REDIS_DB=...